.row {
    padding: 8px 0;
    border-bottom: 1px solid #e2e2e2;
}

.col {
    text-align: center;
}

.item a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.item a:visited {
    color: #969696;
}

.item a:hover {
    text-decoration: underline;
}

.content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 24px;
    color: #999;
    margin-bottom: 4px;
}

.score {
    background-color: #f56a00;
}
